#window{
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}
.swapbox_select {
    width: 50%;
    float: left;
}
.swapbox{
    overflow: auto;
    margin: 20px 0;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 20px;
    border: 1px solid #565656;
}
.token_select{
    padding:5px 0;
}
.token_select:hover{
    background-color: #464646;
    cursor: pointer;
    
}
.token_list_img, .token_image{
    width: 40px;
}
.modal-body{
    height: 600px;
    overflow: scroll;
}
.token_row{
    padding: 5px 10px;
}
.token_row:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}