body {
  font-family: Open Sans,sans-serif;
  background-color:#afc9e0;
  font-size: 18px;
}

button {
  padding: 0.5rem;
  border: 0;
  border-radius: 10px;
  background-color: #abd804;
  font-size: 18px;
  cursor: pointer;
}

.btn-addr {
  background-color: #b1b1e3;
}

input, textarea {
  border: 0px;
  border-radius: 5px;
  padding: 0.25rem;
}

label {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.25rem;
}

.app-header {
  display:flex;
  justify-content: space-between;
  font-size: 42px;
  background-color: white;
  color: #242323;
  padding: 0.5rem;
  border-radius: 10px;
}

.brand-img {
  background-color: white;
  width: 75px;
  padding: 0.5rem;
}

#app-header-btns {
  align-content: center;
  display: inline-flex;
}

#app-header-btns button {
  margin-left: 0.25rem;
}

.container {
  display: flex;
  padding: 1rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.form-group label {
  margin-right: 0.25rem;
}

.user-img {
  height: 100px;
}

.login {
  flex-direction: column;
}

.set-password {
  margin-top: 1rem;
}

.mt {
  margin-top: 0.5rem;
}
