.btn-custom {
  color: #1e2022;
  font-size: .875rem;
  border: 1px solid #d5dae2;
  background-color: transparent;
}

.btn-custom-balance {
  width: 100%;
  padding-left: .6rem;
  padding-right: .6rem;
  text-align: left;
}

.btn-custom-balance.dropdown-toggle:after {
  position: absolute;
  right: .6rem;
  top: 50%;
  transform: translateY(-50%);
  color: #77838f;
}
